// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

header {
    margin: 0 auto;
    height: 60px;
    width: 90%;
    max-width: 960px;
    background-color: lightblue;
}

.intro {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;

    h1 {
        text-align: center;
    }
}

.intro-copy {
    display: inline-block;
    padding: 10px;
    width: 49%;
}

.intro-image {
    display: inline-block;
    width: 49%;

    img {
        width: 100%;
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    height: 570px;
    max-width: 960px;
    display: block;
}

.view-one-container, .view-two-container, 
.view-three-container {

    width: 33%;
    height: 570px;
    display: inline-block;
    float: left;
    color: white;
    font-size: 1.2em;
    overflow: scroll;
    background: rgba(230, 136, 78, 0.2); 

    & ul {
        list-style: none;
        padding: 0;
    }
}


.create-new-item {
    clear: both;
    margin: 1em auto;

    & ul {
        list-style: none;
        display: none;
        padding: 0;
        margin-left: 43%;
    }

    & .new-item-text {
        display: none;
        margin-left: 5%;
        width: 90%;
        font-size: 20px;
    }

    & .new-item {
        width: 100%;
    }

    & .save-item {
        display: none;
        margin-left: 5%;
        width: 90%;

    }
}

.footer {
    margin: 0 auto;
    width: 90%;
    height: 40px;
    max-width: 960px;
    display: block;

    p {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {

    .intro-copy {
        width: 100%;
    }

    .intro-image {
        width: 100%;

        // img {
        //     max-width: 600px;
        // }
    }

    .view-one-container, .view-two-container, 
    .view-three-container {

        width: 100%;
        height: 100%;
        max-height: 400px;
        display: block;
        margin-bottom: 10px;

    }
  
  
} /* 800 media */

@media screen and (max-width: 480px) {

    h1 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.1em;
    }
  
} /* 480 media */